<div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-block">
          <img  class="mx-auto d-block" src="/assets/img/lights.png" alt="">
          <h1 class="text-center">Sorry Page Not Found</h1>
          <br />
          <br />
          <a class="nav-link" href="#" routerLink="/">
            <i class="fa fa-arrow-circle-o-left"> Go Back</i>

          </a>

          <!-- <input type="submit" class="btn btn-primary btn-block" value="Back"> -->

        </div>
      </div>
    </div>
  </div>